<div class="collection_menu_container">
  {% if product.featured_image %}
    <img
      src="{{ product.featured_image | img_url:'medium'}}"
      alt="{{ product.featured_image.alt }}"
      width=""
      height=" "
    >
  {% endif %}
  <a href="{{ product.url }}">{{ product.title }}</a>
  <p>{{ product.price | money }}</p>
</div>
