<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    {{ content_for_header }}
    {{ 'tailwind.css'|asset_url|stylesheet_tag }}
    {% comment %}
    {{ 'application.js' |asset_url |script_tag }}
{% endcomment %}

</head>
  <body class="gradient bg-sonal">
    
 
   {% sections 'header-group' %}  
   {% section  'cart-drawer' %}
   {% comment %} {% sections 'cart-drawer' %} {% endcomment %}
    <main  role="main">
      {{ content_for_layout }}
    </main>

    {% section'footer' %}
  </body>
</html>
