<article>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="blogPage_article_container">
          <div class="blogPage_title">
            <a href="{{ blog.url }}" class="blog_url">{{ blog.title }}</a>
            <h1>{{ article.title }}</h1>
          </div>
        </div>
      {% when 'article_author' %}
        {% if section.settings.enable_author %}
          <small>{{ article.author }}</small>
        {% endif %}
      {% when 'article_published_date' %}
        {% if section.settings.enable_published_date %}
          <time datetime="{{ article.published_at |date:'%Y-%m-%d' }}">
            {{ article.published_at | date: '%Y-%m-%d' -}}
          </time>
        {% endif %}
      {% when 'featured_image' %}
        <div class="block_img">
          {% if article.image != blank %}
            <img src="{{ article.image | img_url:'large'}}" alt="{{ article.image.alt }}" width="" height="">
          {% else %}
            {%- assign placeHolder_Image = 'lifestyle-2' -%}
            {{ placeHolder_Image | placeholder_svg_tag: 'w-full' }}
          {% endif %}
        </div>

      {% when 'article_content' %}
        <div class="article-content">
          {{ article.content }}
        </div>
      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="blog-comment">
    {% if article.comments.count > 0 %}
      <div class="class-comment_count">
        <h1 class="class-comment-menu">see what people are saying</h1>
        {% paginate article.comments by 6 %}
          {% for comment in article.comments %}
            <div class="pagination_">
              <span class="comment-author">{{ comment.author }}</span>
              <span class="comment_created_at">{{ comment.created_at | date: format: 'default' }}</span>
              <p class="comment_conte">{{ comment.content }}</p>
            </div>
          {% endfor %}
          {% if paginate.pages >1 %}
          {{ paginate |  default_pagination }}
          {% endif %}

        {% endpaginate %}
      </div>
    {% else %}
      there are no comments in this article
    {% endif %}
  </div>
  <div id="comment_form" class="comment_form">
    {% form 'new_comment', article %}
      <div class="form_container">
        <div class="form_content">
          <label class="comment-author" for="comment_author">Name</label>
          <input
            id="comment_author"
            type="text"
            class="input_name"
            name="comment[author]"
            placeholder="enter  your name"
          >
        </div>
        <div class="form_email">
          <label class="comment-email" for="comment_email">Email</label>
          <input
            id="comment_email"
            type="text"
            class="input_email"
            name="comment[email]"
            placeholder=" enter your email"
          >
        </div>
        <div class="form_comments">
          <label class="comment-comment" for="comment_content">Comment</label>
          <textarea
            id="comment_content"
            type="text"
            class="input_comment"
            name="comment[body]"
            required
          ></textarea>
        </div>
        <div class="submit_section">
          <div class="submit_container">
            <input type="submit" class="submit-class" value="post_comment">
          </div>
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

{%- schema -%}
{
  "name": "Template-Articale",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Display Author Name "
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Display Published Date "
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Tumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{%- endschema -%}
