<div class="collectionName">
  <h1>{{ collection.title}}</h1>
  <p>{{ collection.products_count }} products</p> <!-- Display the product count here -->

</div>
<div class="collection-page">
  <div class="collection-section">
    <div class="collection-container">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          <div class="collection_menu">
            <div class="collection_menu_container">
              {% if product.featured_image %}
                <img
                  src="{{ product.featured_image | img_url:'medium'}}"
                  alt="{{ product.featured_image.alt }}"
                  width=""
                  height=" "
                >
              {% endif %}
              <a href="{{ product.url }}">{{ product.title }}</a>
              <p>{{ product.price | money }}</p>
            </div>
          </div>
        {% else %}
          <p>no product available</p>
        {% endfor %}
        {% comment %} {% render 'pagination' ,pagination:paginate %} {% endcomment %}
      {% endpaginate %}
    </div>
  </div>
</div>
