{% comment %} <p>{{ collection.products_count }} products</p> <!-- Display the product count here --> {% endcomment %}
<div class="collectionName">
  <h1>{{ collection.title}}</h1>
 </div>
<div class="collection-page">
  <div class="collection-section">
    <div class="collection-container">
      {% paginate collection.products by section.settings.number_of_product_per_page   %}
        {% for product in collection.products %}
          <div class="collection_menu">
            {% comment %} <div class="collection_menu_container">
              {% if product.featured_image %}
                <img
                  src="{{ product.featured_image | img_url:'medium'}}"
                  alt="{{ product.featured_image.alt }}"
                  width=""
                  height=" "
                >
              {% endif %}
              <a href="{{ product.url }}">{{ product.title }}</a>
              <p>{{ product.price | money }}</p>
            </div> {% endcomment %}
          {% render 'product-cart' ,product:product%}
          </div>
        {% else %}
          <p>no product available</p>
        {% endfor %}
        {% comment %} {% render 'pagination' ,pagination:paginate %} {% endcomment %}
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "template-collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_product_per_page",
      "default": 4,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}
