{% assign selected_variant = product.selected_or_first_available_variant %}

<div class="product_media">
  <div class="product_media_Section">
    <div class="product_mediaContainer">
      <div class="product_media_Conten">
        {% for media in product.media %}
          <div class="product_med">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>

      <div class="product_Information">
        {% form 'product', product %}
          <input type="hidden" name="id" value="{{ selected_variant.id }}">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'vendor' -%}
                <div class="product_info">
                  <span class="product_vendor">{{ product.vendor }}</span>
                </div>

              {%- when 'title' -%}
                <div class="proudct_name">
                  <div>{{ product.title }}</div>
                </div>
              {%- when 'price' -%}
                <div class="Product_Price">
                  <span> {{ selected_variant.compare_at_price | money }}</span>
                  <span>{{ selected_variant.price | money }}</span>

                  {% if selected_variant.price < selected_variant.compare_at_price %}
                    Sale
                  {% endif %}
                </div>

              {% when 'variant_selector' %}
                <div class="Seclected_section">
                  {% unless product.has_only_default_variant %}
                    <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                      {% for option in product.options_with_values %}
                        <label for="option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                        <div class="option_value">
                          <select
                            name="options[{{ option.name|escape }}]"
                            id="Option-{{ section.id }}-{{ forloop.index0 }}"
                            class="op_vlu"
                          >
                            {% for value in option.values %}
                              <option value="{{value |escape}}">{{ value }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      {% endfor %}
                    </variant-selector>
                  {% endunless %}
                </div>

              {% when 'quantity' %}
                <div class="quantity_vlu">
                  <label for="Quantitiy-{{ section.id }}">Quantity</label>
                  <div class="input_qnty_vlu">
                    <input type="number" name="quantity" id="Quantitiy-{{ section.id }}" value="1">
                  </div>
                </div>
              {% when 'description' %}
                <div class="product_Discription">
                  <p>{{ product.description }}</p>
                </div>
              {% when 'checkout_button' %}
                <div class="add-to-cart-SEction">
                  <button
                    type="submit"
                    name="add"
                    class="add-button"
                    {% if product.selected_variant == false %}
                      disabled
                    {% endif %}
                  >
                    {% if product.selected_variant.available == false %}
                      SoldOut
                    {% else %}
                      Add To Cart
                    {% endif %}
                  </button>
                </div>

              {%- else -%}
            {%- endcase -%}
          {% endfor %}
        {% endform %}
      </div>
    </div>
  </div>
</div>


<script>
  class = VariantSelector extends HTMLElement{
    constructor(){
    super();
    this.addEventListener("change",this.onVariantchange() )
    }

    onVariantchange(){
      console.log("variant selector change")
    
    }
  
  }

customElements.define("variant-selector",VariantSelector)
</script>


{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant Selector",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "checkout_button",
      "name": "Checkout Button",
      "limit": 1
    }
  ]
}
{% endschema %}
