<article>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="blogPage_article_container">
          <div class="blogPage_title">
            <a href="{{ blog.url }}" class="blog_url">{{ blog.title }}</a>
        <h1>{{ article.title }}</h1>
      </div>
        </div>
      {% when 'article_author' %}     
        {% if section.settings.enable_author %}
          <small>{{ article.author }}</small>
        {% endif %}
      {% when 'article_published_date' %}
        {% if section.settings.enable_published_date %}
          <time datetime="{{ article.published_at |date:'%Y-%m-%d' }}">
            {{ article.published_at | date: '%Y-%m-%d' -}}
          </time>
        {% endif %}
      {% when 'featured_image' %}
        <div class="block_img">
        {% if article.image != blank %}
          <img src="{{ article.image |img_url:'large'}}" alt="{{ article.image.alt }}" width="" height="">
          {% else %}
           {%- assign placeHolder_Image = 'lifestyle-2'-%}
          {{ placeHolder_Image || placeholder_svg_tag:"w-full"}}
          {% endif %}
        </div>
        
      {% when 'article_content' %}
        <div class="article-content">
          {{ article.content }}
        </div>
      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{%- schema -%}
{
  "name": "Template-Articale",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Display Author Name "
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Display Published Date "
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Tumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{%- endschema -%}
